@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Cairo');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #6d5b97;
	font-family: Cairo;
	color: #fff;
}

section {
	margin: 0px;
	padding: 0px;
	display: block;
	position: initial;
}

h1 {
	font-family: Archivo Black, sans-serif;
	font-size: 1.6rem;
	color: #fff;
	margin: 0px auto;
	animation: slidein 3s ease;
}

h2 {
	font-family: Oswald,sans-serif;
	font-size: 1.4rem;
	margin-bottom: 5px;
}

h3 {
	font-family: Oswald,sans-serif;
	font-size: 1.2rem;
	margin-bottom: 5px;
}

h4 {
	font-family: Oswald,sans-serif;
	font-size: 1.0rem;
	color: #3d88a7;
	margin-bottom: 5px;
}

p {
	margin:0;
	font-family: Cairo;
	font-size: 16pt;
}

.em {
	line-height: 1.5em;
	padding: 0px 5px;
}

img {
	margin: 0;
	padding: 0;
}

#menu {
	position: sticky;
	z-index: 1000;
	top:0;
	left:0;
	margin: 0 auto;
	padding: 10px;
	height: 40px;
	width: 100%;
	overflow:hidden;
	background-color: #bac2d7;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu {
	padding:0;
	margin:0;
	vertical-align:middle;
}

.menu li {
	list-style:none;
	display:inline-block;
	font-family: Oswald, sans-serif;
	font-size: 14pt;
	margin: auto 15px;
	vertical-align: middle;
}

.background {
	margin:0;
	padding: 0;
	width: 100%;
	height: auto;
	position: absolute;
	z-index: -10;
}

a {
	font-weight: normal;
	color: #345a99;
	text-decoration: bottom;
}

a:hover {
	text-decoration:none;
}

#zero {
	text-align: justify;
	vertical-align: middle;
	padding: 5% 0px;
}

#one {
	margin: 0;
	padding: 5% 5%;
	background-color: #3d88a7;
	text-align: justify;
}

#two {
	margin: 0;
	padding: 5% 5%;
	background-color: #6d5b97;
}

#three {
	margin: 0;
	padding: 5% 5%;
	background-color: #3d88a7;
}

#four {
	margin: 0;
	padding: 5% 5%;
	background-color: #6d5b97;
}

.timeline {
	margin: auto;
	position: relative;
	max-width: 90%;
	list-style: none;
}

.timeline::after{
	background-color: #fff;
	content: '';
	margin-left: -1px;
	position: absolute;
	top: 5px;
	left: 2em;
	width: 2px;
	height: 100%;
}

.timeline-box {
	margin: 1em;
	padding: 0px 40px;
	position: relative;
	width: 90%;
	transition: transform 1s;
}

.timeline-box:hover .timeline-icon {
	background-color: #345a99;
	transform: rotate(135deg);
	outline: 10px solid #3d88a7;
}

.timeline-date {
	margin: 0;
	top: -1em;
	padding: 5px;
	position: relative;
	display: block;
	transition: background-color 1s;
	transition: box-shadow 0.5s ease-in 0.1s;
}

.timeline-box:hover .timeline-date {
	background-color: #345a99;
	animation: fadein 1s ease;
}

.timeline-icon {
	transform: rotate(45deg);
	transition: transform 0.5s;
	background-color: #ffffff;
	outline: 10px solid #3d88a7;
	display: block;
	margin: 0.5em 0.5em 0.5em -0.5em;
	position: absolute;
	top: -1em;
	left: -1.5em;
	width: 1em;
	height: 1em;
	z-index: 10;
}

.timeline-copy {
	display: block;
	padding: 5px;
	position: relative;
	top: -1em;
	left: 0;
	width: 80%;
	background-color: none;
	margin: 0;
}

.timeline-title {
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
}

.timeline-info{
	margin: 0;
}

.modules {
	display: table-cell;
	text-align: left;
	font-size: 16pt;
	color: #fff;
}

table {
	table-layout: fixed;
	width: 100%;
	height: auto;
}

td {
	vertical-align: top;
	border-right: 1px solid #fff;
	padding: 20px;
}

tr:first-child  td {
	border-bottom: 1px solid #fff;
}

td:last-child {
	border: none;
}

.pen-icon:before {
	content: "\f14b";
	font-family: "Font Awesome\ 5 Free";
	width: 10px;
	height: 10px;
	margin-right: 20px;
	-webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
	font-weight: 900;
}

.pen-icon {
	display: block;
	margin: 10px;
	font-size: 1em;
	list-style: none;
}

.pen-icon a {
	color: #fff;
}

#footer {
	margin: 0;
	padding: 0px 10px;
	background-color: #111111;
	color: #bac2d7;
	position: relative;
}

@keyframes slidein {
	0% { margin-left:-2000px; }
	20% { margin-left:-500px; }
	60% { margin-left:50px; }
	100% { margin-left:0px; }
}

@keyframes fadein {
	0% { opacity: 0; }
	30% { opacity: 0.3; }
	60% { opacity: 0.6;}
	100% { opacity: 1;}
}
	
.carousel {
	position: relative;
	overflow: hidden;
	max-width: 1090px;
	width: 100%;
	padding: 0px;
	vertical-align: middle;
}

.roll {
	vertical-align: middle;
	position: relative;
	white-space: nowrap;
	font-size: 0;
	left:  0px;
}
.project {
	width: 300px;
	height: 450px;
	background-color: #FFF;
	-webkit-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.5); 
    -moz-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.5); 
	box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.5); 
	text-align: center;
	margin: 0 25px 25px 0;
	display: inline-block;
	padding: 20px;
	vertical-align: middle;
	overflow-y: auto;
}

.project:hover {
	box-shadow: none;
}

.project img {
	margin: 0px;
	width:  100%;
	height: 200px;
}

.project p {
	color: #000;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 12pt;
	font-weight: 200;
	text-align: justify;
	white-space: normal;
}

.button {
	background-color: #345a99;
	color: #fff;
	padding: 5px;
	display: block;
	text-align: center;
	width: 50%;
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
}

.sections {
	text-align: center;
	color: #345a99;
	font-size: 12px;
}

.sections i {
	margin: 0 2px;
	cursor: pointer;
}

.navigation {
	position:  absolute;
	border: none;
	padding: 0;
	background-color: #345a99;
	height: 40px;
	width: 40px;
	color:  #FFF;
	font-size: 20px;
	text-align: center;
	top: 220px;
}
.navigation:visited  {
	text-decoration: none;
}
.navigation-hover {
	height: 50px;
	width: 50px;
	top:  210px;
	cursor: pointer;
}
.navigation:active {
	text-decoration: none;
}
.navigation:focus {
	outline: none;
}
.navigation:first-of-type {
	left: 0px;
}
.navigation:last-of-type {
	right: 0px;
}

@media screen and (max-width: 950px) {
    .carousel {
		position: relative;
		overflow: hidden;
		width: 640px;
	}
}
@media screen and (max-width: 655px) {
	.menu {
		display: none;
		position: sticky;
	}
	.menu.drop {
		display: block;
		width: 100%;
		height: auto;
		float: none;
		text-align: left;
		position: fixed;
		right: 0;
		top: 60px;
		background-color: #bac2d7;
	}
	
	.menu li {
		list-style:none;
		display: block;
		font-family: Oswald, sans-serif;
		font-size: 14pt;
		margin: auto 15px;
		vertical-align: middle;
	}
	
	.carousel {
		position: relative;
		overflow: hidden;
		width: 360px;
	}
	
	.container {
		display: inline-block;
		cursor: pointer;
		position: absolute;
		right: 42px;
		z-index: 10;
	}
	
	.bar1, .bar2, .bar3 {
		width: 32px;
		height: 5px;
		background-color: #345a99;
		margin: 6px 0;
		transition: 0.4s;
	}
	
	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
	}

	.change .bar2 {opacity: 0;}

	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px);
	}
}

::selection {
    color: #fff;
    background: #111;
}

::-moz-selection {
	color: #fff;
    background: #111;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 10px #ccc;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #ccc; 
box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
